<%= render 'main/nav'%>
<%= link_to inline_svg_tag('GoBack.svg', size: '14x14'), :back, class: "voltar" %>

<main>
    <div class="main-content">
        <div class="main-top add-mec">
            <h1>Editar Equipe</h1>
        </div>
        <div class="main-info bg-w">
           <%= form_for @equipe, url: equipe_path(@equipe), method: :patch do |f| %>
           <div class="form-log">
                <%= f.text_field :nomeEquipe, placeholder: "Nome"%>
                <div class="nomes-mec">
                    <%= f.collection_check_boxes :mecanico_ids, Mecanico.all, :id, :nome do |b| %>
                        <%= b.check_box %>
                        <%= b.label { b.text } %>
                    <% end %>
                </div>
                <%= f.submit "Atualizar", class: "entrarBtn" %>
            </div>
            <% end %>
        </div>
    </div>
</main>