    <%= render 'main/nav'%>
<%= link_to inline_svg_tag('GoBack.svg', size: '14x14'), equipes_path, class: "voltar" %>

<div class="main-perfil">
<div class="perfil">
    <div class="perfil-top">
      <%= image_tag("team.svg") %>
      <div class="top-info">
        <p class="nome"><%= @equipe.nomeEquipe %></p>
      </div>
    </div>
    <% if current_mecanico.adminCode == 1 %>
      <div class="button-container">
        <%= link_to "Editar", edit_equipe_path(@equipe), class: "editar-button" %>
        <%= button_to "Deletar", equipe_path(@equipe), method: :delete, class: "editar-button red" %>
      </div>
    <% end %>
    <main class="perfil-bottom">
      <div class="main-content">
        <div class="main-top">
          <h1>Mecânicos da equipe</h1>
        </div>
        <div class="main-info">
          <% @equipe.mecanicos.each do |mecanico| %>
                <%= link_to mecanico_path(mecanico), class: 'details-button' do %>
                    <div class="card-body">
                        <% if mecanico.adminCode == 1 %>
                            <div class="status-line" style="background-color: blue;"></div>
                        <% elsif mecanico.ativarCode == 1 %>
                            <div class="status-line"></div>
                        <% else %>
                            <div class="status-line" style="background-color: red;"></div>
                        <% end %>
                        <div class="card-info">
                            <%= image_tag("profile.svg", class: "logo") %>
                            <h1 class="card-nome"><%= mecanico.nome%></h1>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
      </div>
    </main>
  </div>
</div>