    <%= render 'main/nav'%>
<%= link_to inline_svg_tag('GoBack.svg', size: '14x14'), :back, class: "voltar" %>

<main>
    <div class="main-content">
        <div class="main-top add-mec">
            <h1>Editar Peça</h1>
        </div>
        <div class="main-info bg-w">
            <%= form_for @peca, url: peca_path(@peca), method: :patch do |f| %>
                <div class="form-log">
                    <%= f.text_field :nome, placeholder: "Nome" %>
                    <%= f.text_field :preco, placeholder: "Preço" %>
                    <%= f.submit "Editar", class: "entrarBtn" %>
                </div>
            <% end %>
        </div>
    </div>
</main>
