<%= render 'main/nav'%>
<main>
    <div class="main-content">
        <div class="main-top">
            <h1>Peças</h1>
        </div>
        <%= link_to "+ Adicionar Peça", new_peca_path, class: "btn-add" %>
        <div class="main-info">
            <% @pecas.each do |peca| %>
                <%= link_to peca_path(peca), class: 'details-button' do %>
                    <div class="card-body">
                      <div class="status-line"></div>
                      <div class="card-info">
                        <%= image_tag("nut.svg", class: "logo") %>
                        <h1 class="card-nome"><%= peca.nome%></h1>
                      </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</main>