<%= render 'main/nav'%>
<%= link_to inline_svg_tag('GoBack.svg', size: '14x14'), :back, class: "voltar" %>

<main>
    <div class="main-content">
        <div class="main-top add-mec">
            <h1>Adicionar Peça</h1>
        </div>
        <div class="main-info bg-w">
            <%= form_for @peca do |f| %>
                <div class="form-log">
                    <%= f.text_field :nome, placeholder: "Nome"%>
                    <%= f.number_field :preco, step: "0.01", placeholder: "Valor" %>

                    <%= f.submit "Adicionar", class: "entrarBtn" %>
                </div>
            <% end %>
        </div>
    </div>
</main>
