            <%= render 'main/nav'%>
    <%= link_to inline_svg_tag('GoBack.svg', size: '14x14'), pecas_path, class: "voltar" %>

    <div class="main-perfil">
        <div class="perfil">
            <div class="perfil-top">
                <%= image_tag("nut.svg") %>
                <div class="top-info">
                    <p class="nome"><%= @peca.nome %></p>
                    <p class="telefone"><strong>Preço:</strong> <%= @peca.preco %></p>
                </div>
            </div>
            <div class="button-container">
                <%= link_to "Editar", edit_peca_path(@peca), class: "editar-button" %>
                <%= button_to "Deletar", peca_path(@peca), method: :delete, class: "editar-button red" %>
            </div>
        </div>
    </div>
    
    </div>
</div>