<%= render 'main/nav'%>
<%= link_to inline_svg_tag('GoBack.svg', size: '14x14'), :back, class: "voltar" %>

<main>
    <div class="main-content">
        <div class="main-top add-mec">
            <h1>Adicionar Mecânico</h1>
        </div>
        <div class="main-info bg-w">
            <%= form_for @mecanico, url: admin_mecanicos_path do |f| %>
                <div class="form-log">
                    <%= f.text_field :nome, placeholder: "Nome" %>
                    <%= f.email_field :email, placeholder: "Email" %>
                    <%= f.text_field :especialidade, placeholder: "Especialidade" %>
                    <%= f.text_field :telefone, placeholder: "Telefone" %>
                    <%= f.text_field :endereco, placeholder: "Endereço" %>            
                    <%= f.password_field :password, placeholder: "Senha" %>
                    <%= f.submit "Adicionar", class: "entrarBtn" %>
                </div>
            <% end %>
        </div>
    </div>
</main>
